
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #f7f7f7;
  height: 100vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 97%;
  margin-bottom: 10px;
}

.app-title {
  display: flex;
  align-items: center;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.app-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 84px);
}

.weather-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-right: 10px;
}

.weather-card {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-time {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  text-align: center;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.condition {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.weather-details p {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
  text-align: center;
}

.location-dropdown {
  margin-top: 20px;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 66.66%;
  margin-right: 10px;
}

.map-container {
  flex-grow: 1;
  height: 0;
  position: relative;
}

.photo-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.photo-item {
  margin-top: 0px;
}

.photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.login-button,
.register-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-button:hover,
.register-button:hover {
  background-color: #222;
}

.login-button:active,
.register-button:active {
  background-color: #444;
}

.login-button:focus,
.register-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000;
}
